/*MidTerm Assignment*/

/*Declared layers in the order of lowest to highest priority*/
@layer reset, theme, base, layout, modules;

@layer reset {
    *, 
    *::before,
    *::after { /*reset all default browser styles for all elements*/
        box-sizing: border-box;
    }


    body {
        margin: unset;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@layer theme {
    :root {
        font-size: clamp(1rem, 2vw, 1.2rem); /*font size will be responsive across all screen sizes*/
        --bg-body-color: #251101c7;
        --bg-accent1-color: #2C5784;
        --bg-accent2-color: #5688C7;
    }  
}

@layer base { /*setting default styles for the webpage*/
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--bg-body-color);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(248, 246, 240);
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        text-decoration: underline;
        font-style: italic;
    }    
}

@layer layout {
    .container {
        width: 100%;
        max-width: 100%; /*Mobile first design*/
        margin: 0 auto;

        @media (min-width: 600px) {
            max-width: 900px;
        }

        @media (min-width: 1000px) {
            max-width: 1200px;
        }
    }

    header { /*prevents the header section from moving*/
        @media (min-width: 600px) {
            position: sticky;
            top: 0;
        }
    }

    main { /*Prevents the gap in between the main content and hero image*/
        margin: 0;
        padding: 1.5em;
        line-height: 1.5em;
    }

    section {
        padding: 1.5em;
        @media (min-width: 600px) {
            border: 2px solid white;
        }   
    }

    footer { /*Prevents the gap in between the main content and footer*/
        margin: 0;
        padding: 1.5em;
        text-align: center;

        a { /*Removes the underline from the hyperlink and changes color of text*/
            text-decoration: none;
            color: rgb(248, 246, 240);
        }

        @media(min-width: 600px) {
            font-size: medium;
            padding: 2em;
        }
    }

    .grid_main { /*Grid layout only applied to the main section*/
        margin: 0 auto;
        max-width: 95%;
        display: grid;
        grid-template-columns: 1fr; /*Mobile first design*/

        @media (min-width: 600px) { /*Tablet becomes two columns*/
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }

        @media (min-width: 1000px) { /*Desktop becomes three columns*/
            max-width: 100%;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em;
        }

        .introduction_section { /*Introduction section spans the entire row and the three other sections sit below it.*/
            @media (min-width: 1000px) {
                grid-column: 1 / 4;
                grid-row: 1;
            }
        }
    }
}

@layer modules {
    .logo { /*styles for logo*/
        display: block;

        img {
           width: 100px;
        }
    }

    /*allows for the style to be applied to any element*/
    .bg_style { 
        background-color: var(--bg-accent1-color);
    }

    .bg_style2 {
        background-color: var(--bg-accent2-color);
    }

       /* -- Hamburger Menu & styles -- */
    .menu {
        position: relative; /*main container for the hamburger menu, set to relative to position the dropdown menu and hamburger icon within it*/
        top: -0.5em;

        .menu-toggle {
            position: absolute; /*position absolute to position the hamburger icon in the top right corner of the menu container*/
            top: -0.9em;
            right: 0;

            border: 0;
            background-color: transparent;

            font-size: 2em;
            width: 1em;
            height: 1em;
            line-height: 0.9;
            text-indent: 5em;
            white-space: nowrap;
            overflow: hidden;

            &::after { /*hamburger icon, using the unicode character for the hamburger menu*/
                position: absolute;
                top: 0.2em; 
                left: 0.2em;
                display: block;
                content: "\2261";
                text-indent: 0;
            }

            @media (min-width: 600px) { /*Media query for Tablet*/
                    display: none; /*removes hamburger icon on tablet*/
            }
        }

        /*Dropdown styles*/
        .menu-dropdown {
            display: none;
            position: absolute; /*position absolute to position the dropdown menu below the hamburger icon*/
            right: 0;
            left: 0;
            margin: 0;

                @media (min-width: 600px) { /*Media query for Tablet*/
                    position: static; /*change position to static to add back into the document flow*/
                    display: block; /*display the dropdown menu by default for tablet and desktop*/
                }
        }
        
        &.is-open .menu-dropdown { /*The & is for the outer selector (.menu). This is where it is merged with the inner selector. It is equal to .menu.is-open .menu-dropdown*/
            display: block;
        }    
    }

        /*Navigation Styles - when open on mobile*/
        .nav-menu {
            margin: 0;
            padding-left: 1em;
            border: 2px solid var(--bg-accent2-color);
            list-style: none;
            background-color: var(--bg-accent1-color);

            a {
                text-decoration: none;
                color: rgb(248, 246, 240);
            }

            & > li + li { 
                border-top: 2px solid var(--bg-accent2-color);
            }
            
            & > li > a {
                display: block;
                padding: 0.8em 1em;
                font-weight: normal;
            }

            @media (min-width: 600px) { /*Media query for Tablet*/
                & > li + li {
                    border-top: none;
                }

                & > li > a {
                    font-weight: bold;
                }
            }
        }

        /*Media query for Tablet for horizontal navigation menu*/
        @media (min-width: 600px) {
            .flex-nav {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border: none;
            }
        }

        .media_img { /*Created a style just for images in the main section*/
            border-radius: 20%;
            border: 2px solid rgba(17, 16, 16, 0.788);
            margin: 0 auto;

            @media (min-width: 550px) {
                width: 100%;
                max-width: 300px;
            }

            @media (min-width: 800px) {
                max-width: 550px;
            }
        }

        .pageupbtn { /*Button that sticks to the bottom of viewport area and allows the users to get back to the top of the screen.*/
                position: fixed;
                bottom: 22em;
                right: 1.5em;

                display: block;
                background-color: white;

                padding: .5em 1em;
            
                text-decoration: none;
                color: var(--bg-accent2-color);
                font-weight: bold;
                font-size: 1rem;
            
                @media (min-width: 600px) {
                    display: none;  
                }
            }
        }

