* { /*REQUIREMENT: use the box-sizing*/
    box-sizing: border-box; 
}

:root {
    font-size: 1em;
    --back-color: rgb(108, 142, 142);
}

body {
    margin: unset;
    background-color: rgb(12, 12, 12);
    color: rgb(244, 240, 240);
    font-size: calc(1em + 1vw)
}

/*all header styles*/
.header {
    margin: 0 auto;
}

.header h1 {
    text-align: left;
    font-style: italic;
    background-color: var(--back-color);
    color: black;
    margin: 0;
    padding: .5em .5em;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: calc(1em + 1vw);
}

nav li {
    display: inline-block; /*puts the nav links in a row*/
    padding: .5em 0;
    cursor: pointer;
}

nav a {
    text-decoration: none; /*removes the underline*/
    margin: .5rem;
    color: white;
}

.headerimg {
    max-width: 100vw; /*REQUIREMENT: use max-width*/
    height: 50vh;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
}

/*Main section styles including the container*/
.container {
    max-width: 100vw;
    margin: 0 auto;
}

main {
    padding: 1.5em;
}

h2 {
    text-align: center;
}

h3 { /*makes all of the h3 italic*/
    font-style: italic;
}

aside { /*REQUIREMENT: aside containing social liks and link to newsletter*/
    max-width: 50vw;
    margin: 1em;
    padding-left: 1em;
    font-style: italic;
    float: right;
    border-left: 2px solid var(--back-color);
}

aside a {
    color: white;
}

.icons {
    color: bisque;
    font-size: 1.5em;

}

.contentimg1 {
    max-width: 90vw;
    height: 50vh;
    margin: 0 auto;
    background-image: url(../images/photo1.jpg);
    background-size: cover;
    background-position: center;
}

.contentimg2 {
    max-width: 90vw;
    height: 50vh;
    margin: 0 auto;
    background-image: url(../images/photo2.jpg);
    background-size: cover;
    background-position: center;
}

/*footer styles*/
footer {
    background-color: var(--back-color);
    margin: 0;
    padding: 1em;
    text-align: center;
    font-size: calc(.5em + 1vw);
}

footer ul {
    list-style: none;
}
.stack > * + * { /*the lobotomized owl selector: applies a top margin to all direct children of .stack that immediately follow another child. This creates consistent spacing between elements in the stack without affecting the first element*/
    margin-block-start: 1.5em;
}